PORT=3000
PROTOCOL_DIR=./protocols
YOUTUBE_API_KEY=
NCBI_API_KEY=
NCBI_TOOL=askrigor
NCBI_EMAIL=
UPSTREAM_TIMEOUT_MS=20000
PUBLIC_TOOL_MAX_PAGE_SIZE=100
PUBLIC_TOOL_MAX_PAGES=50
ASKRIGOR_PUBLIC_SERVER_ENABLED=false
ASKRIGOR_TRUSTED_CLIENT_IP_HEADER=
