{
  "openapi": "3.1.0",
  "info": {
    "title": "AskRigor Actions",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://mcp.askrigor.com"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/actions/research/start_research_session": {
      "post": {
        "operationId": "start_research_session",
        "summary": "AskRigor start research session",
        "description": "Start a server-controlled research session. The response never authorizes a final answer.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "session_id",
                    "state_digest",
                    "directive",
                    "execution_status",
                    "output_boundary",
                    "next_capability",
                    "technical_summary"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string"
                    },
                    "state_digest": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{64}$"
                    },
                    "directive": {
                      "type": "string",
                      "enum": [
                        "continue_research",
                        "perform_semantic_work",
                        "finalize",
                        "restart_required",
                        "blocked"
                      ]
                    },
                    "execution_status": {
                      "type": "string",
                      "enum": [
                        "IN_PROGRESS",
                        "BLOCKED_RETRYABLE",
                        "BLOCKED_TERMINAL",
                        "BOUNDED",
                        "READY_TO_FINALIZE",
                        "PROTOCOL_DRIFT"
                      ]
                    },
                    "output_boundary": {
                      "type": "string",
                      "enum": [
                        "CONTINUE_RESEARCH",
                        "BOUNDED_NONRANKING_ONLY",
                        "FINALIZATION_ALLOWED"
                      ]
                    },
                    "next_capability": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "semantic_work_type": {
                      "type": "string"
                    },
                    "worker_payload": {
                      "type": "object",
                      "description": "One signed page of the exact bounded semantic work package.",
                      "additionalProperties": false,
                      "required": [
                        "chunk_index",
                        "chunk_count",
                        "chunk_sha256",
                        "worker_input_json_chunk",
                        "complete"
                      ],
                      "properties": {
                        "chunk_index": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "chunk_count": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "chunk_sha256": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        },
                        "worker_input_json_chunk": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "complete": {
                          "type": "boolean"
                        },
                        "terminal_receipt": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "receipt_version",
                            "session_id",
                            "state_digest",
                            "work_digest",
                            "payload_digest",
                            "chunk_count",
                            "expires_at_ms",
                            "signature"
                          ],
                          "properties": {
                            "receipt_version": {
                              "type": "string"
                            },
                            "session_id": {
                              "type": "string"
                            },
                            "state_digest": {
                              "type": "string"
                            },
                            "work_digest": {
                              "type": "string"
                            },
                            "payload_digest": {
                              "type": "string"
                            },
                            "chunk_count": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "expires_at_ms": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "signature": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "last_transition": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "capability",
                        "result"
                      ],
                      "properties": {
                        "capability": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "progress_recorded",
                            "semantic_work_recorded",
                            "protocol_drift",
                            "blocked_retryable",
                            "blocked_terminal"
                          ]
                        }
                      }
                    },
                    "technical_summary": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "candidates_discovered",
                        "videos_selected",
                        "videos_complete",
                        "formal_sources_discovered"
                      ],
                      "properties": {
                        "candidates_discovered": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "videos_selected": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "videos_complete": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "formal_sources_discovered": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_auth_required"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "research_target": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "diagnosis_status": {
                    "type": "string",
                    "enum": [
                      "diagnosis_not_specified",
                      "user_supplied_diagnosis"
                    ]
                  },
                  "acceptance_challenge_id": {
                    "type": "string",
                    "const": "askrigor-controlled-research-acceptance-v1"
                  }
                },
                "required": [
                  "research_target",
                  "diagnosis_status"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/continue_research_session": {
      "post": {
        "operationId": "continue_research_session",
        "summary": "AskRigor continue research session",
        "description": "Execute one server-required step, retrieve the exact bounded semantic package, or submit its receipt-bound result.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "session_id",
                    "state_digest",
                    "directive",
                    "execution_status",
                    "output_boundary",
                    "next_capability",
                    "technical_summary"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string"
                    },
                    "state_digest": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{64}$"
                    },
                    "directive": {
                      "type": "string",
                      "enum": [
                        "continue_research",
                        "perform_semantic_work",
                        "finalize",
                        "restart_required",
                        "blocked"
                      ]
                    },
                    "execution_status": {
                      "type": "string",
                      "enum": [
                        "IN_PROGRESS",
                        "BLOCKED_RETRYABLE",
                        "BLOCKED_TERMINAL",
                        "BOUNDED",
                        "READY_TO_FINALIZE",
                        "PROTOCOL_DRIFT"
                      ]
                    },
                    "output_boundary": {
                      "type": "string",
                      "enum": [
                        "CONTINUE_RESEARCH",
                        "BOUNDED_NONRANKING_ONLY",
                        "FINALIZATION_ALLOWED"
                      ]
                    },
                    "next_capability": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "semantic_work_type": {
                      "type": "string"
                    },
                    "worker_payload": {
                      "type": "object",
                      "description": "One signed page of the exact bounded semantic work package.",
                      "additionalProperties": false,
                      "required": [
                        "chunk_index",
                        "chunk_count",
                        "chunk_sha256",
                        "worker_input_json_chunk",
                        "complete"
                      ],
                      "properties": {
                        "chunk_index": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "chunk_count": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "chunk_sha256": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        },
                        "worker_input_json_chunk": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "complete": {
                          "type": "boolean"
                        },
                        "terminal_receipt": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "receipt_version",
                            "session_id",
                            "state_digest",
                            "work_digest",
                            "payload_digest",
                            "chunk_count",
                            "expires_at_ms",
                            "signature"
                          ],
                          "properties": {
                            "receipt_version": {
                              "type": "string"
                            },
                            "session_id": {
                              "type": "string"
                            },
                            "state_digest": {
                              "type": "string"
                            },
                            "work_digest": {
                              "type": "string"
                            },
                            "payload_digest": {
                              "type": "string"
                            },
                            "chunk_count": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "expires_at_ms": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "signature": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "last_transition": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "capability",
                        "result"
                      ],
                      "properties": {
                        "capability": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "progress_recorded",
                            "semantic_work_recorded",
                            "protocol_drift",
                            "blocked_retryable",
                            "blocked_terminal"
                          ]
                        }
                      }
                    },
                    "technical_summary": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "candidates_discovered",
                        "videos_selected",
                        "videos_complete",
                        "formal_sources_discovered"
                      ],
                      "properties": {
                        "candidates_discovered": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "videos_selected": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "videos_complete": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "formal_sources_discovered": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_auth_required"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "session_id",
                  "state_digest"
                ],
                "properties": {
                  "session_id": {
                    "type": "string",
                    "pattern": "^ars1_[A-Za-z0-9_-]{32}$"
                  },
                  "state_digest": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  },
                  "worker_payload_cursor": {
                    "type": "string",
                    "maxLength": 4096
                  },
                  "worker_payload_receipt": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "receipt_version",
                      "session_id",
                      "state_digest",
                      "work_digest",
                      "payload_digest",
                      "chunk_count",
                      "expires_at_ms",
                      "signature"
                    ],
                    "properties": {
                      "receipt_version": {
                        "type": "string"
                      },
                      "session_id": {
                        "type": "string"
                      },
                      "state_digest": {
                        "type": "string"
                      },
                      "work_digest": {
                        "type": "string"
                      },
                      "payload_digest": {
                        "type": "string"
                      },
                      "chunk_count": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "expires_at_ms": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "signature": {
                        "type": "string"
                      }
                    }
                  },
                  "semantic_result": {
                    "type": "object",
                    "description": "Exact JSON object matching the response_contract inside the current signed work package.",
                    "additionalProperties": true,
                    "required": [
                      "contract_version",
                      "session_id",
                      "state_digest",
                      "work_type",
                      "submission"
                    ],
                    "properties": {
                      "contract_version": {
                        "type": "string"
                      },
                      "session_id": {
                        "type": "string"
                      },
                      "state_digest": {
                        "type": "string"
                      },
                      "work_type": {
                        "type": "string"
                      },
                      "submission": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "package_version": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions/research/get_research_session_status": {
      "post": {
        "operationId": "get_research_session_status",
        "summary": "AskRigor get research session status",
        "description": "Read compact technical recovery state. Status cannot authorize synthesis.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "session_id",
                    "state_digest",
                    "directive",
                    "execution_status",
                    "output_boundary",
                    "next_capability",
                    "technical_summary"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string"
                    },
                    "state_digest": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{64}$"
                    },
                    "directive": {
                      "type": "string",
                      "enum": [
                        "continue_research",
                        "perform_semantic_work",
                        "finalize",
                        "restart_required",
                        "blocked"
                      ]
                    },
                    "execution_status": {
                      "type": "string",
                      "enum": [
                        "IN_PROGRESS",
                        "BLOCKED_RETRYABLE",
                        "BLOCKED_TERMINAL",
                        "BOUNDED",
                        "READY_TO_FINALIZE",
                        "PROTOCOL_DRIFT"
                      ]
                    },
                    "output_boundary": {
                      "type": "string",
                      "enum": [
                        "CONTINUE_RESEARCH",
                        "BOUNDED_NONRANKING_ONLY",
                        "FINALIZATION_ALLOWED"
                      ]
                    },
                    "next_capability": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "semantic_work_type": {
                      "type": "string"
                    },
                    "worker_payload": {
                      "type": "object",
                      "description": "One signed page of the exact bounded semantic work package.",
                      "additionalProperties": false,
                      "required": [
                        "chunk_index",
                        "chunk_count",
                        "chunk_sha256",
                        "worker_input_json_chunk",
                        "complete"
                      ],
                      "properties": {
                        "chunk_index": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "chunk_count": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "chunk_sha256": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        },
                        "worker_input_json_chunk": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "complete": {
                          "type": "boolean"
                        },
                        "terminal_receipt": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "receipt_version",
                            "session_id",
                            "state_digest",
                            "work_digest",
                            "payload_digest",
                            "chunk_count",
                            "expires_at_ms",
                            "signature"
                          ],
                          "properties": {
                            "receipt_version": {
                              "type": "string"
                            },
                            "session_id": {
                              "type": "string"
                            },
                            "state_digest": {
                              "type": "string"
                            },
                            "work_digest": {
                              "type": "string"
                            },
                            "payload_digest": {
                              "type": "string"
                            },
                            "chunk_count": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "expires_at_ms": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "signature": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "last_transition": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "capability",
                        "result"
                      ],
                      "properties": {
                        "capability": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "complete",
                            "progress_recorded",
                            "semantic_work_recorded",
                            "protocol_drift",
                            "blocked_retryable",
                            "blocked_terminal"
                          ]
                        }
                      }
                    },
                    "technical_summary": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "candidates_discovered",
                        "videos_selected",
                        "videos_complete",
                        "formal_sources_discovered"
                      ],
                      "properties": {
                        "candidates_discovered": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "videos_selected": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "videos_complete": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "formal_sources_discovered": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_auth_required"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "type": "string",
                    "pattern": "^ars1_[A-Za-z0-9_-]{32}$"
                  }
                },
                "required": [
                  "session_id"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/finalize_research_report": {
      "post": {
        "operationId": "finalize_research_report",
        "summary": "AskRigor finalize research report",
        "description": "Return a reader-facing report only when the server-owned controller authorizes the exact output boundary.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "finalization"
                  ],
                  "properties": {
                    "finalization": {
                      "type": "object",
                      "description": "Server-authoritative finalization decision and reader-facing output.",
                      "additionalProperties": true,
                      "required": [
                        "session_id",
                        "authorization",
                        "output_boundary",
                        "required_next_capabilities",
                        "state_digest"
                      ],
                      "properties": {
                        "session_id": {
                          "type": "string"
                        },
                        "authorization": {
                          "type": "string",
                          "enum": [
                            "DENIED",
                            "AUTHORIZED",
                            "BOUNDED"
                          ]
                        },
                        "output_boundary": {
                          "type": "string",
                          "enum": [
                            "CONTINUE_RESEARCH",
                            "BOUNDED_NONRANKING_ONLY",
                            "FINALIZATION_ALLOWED"
                          ]
                        },
                        "denial_reasons": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "required_next_capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "state_digest": {
                          "type": "string"
                        },
                        "reader_facing": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "permitted_scope": {
                              "type": "string"
                            },
                            "limitations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "report": {
                              "type": "object",
                              "additionalProperties": true,
                              "properties": {
                                "report_scope": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "public_boundary": {
                                  "type": "string"
                                },
                                "bottom_line": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "comparative_conclusion": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "claims": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "approaches": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "alternatives": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "harms_and_counter_signals": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "uncertainty": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "videos_actually_audited": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "videos_worth_watching": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "provider_and_access_limitations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "clinician_review_questions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "product_acceptance_receipt": {
                      "type": "object",
                      "description": "Signed server receipt emitted only for the fixed product acceptance challenge.",
                      "additionalProperties": true,
                      "properties": {
                        "receipt_version": {
                          "type": "string"
                        },
                        "challenge_id": {
                          "type": "string"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "installation_bundle": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "instructions_sha256": {
                              "type": "string"
                            },
                            "action_schema_sha256": {
                              "type": "string"
                            },
                            "bundle_sha256": {
                              "type": "string"
                            }
                          }
                        },
                        "transition_trace": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "final_boundary": {
                          "type": "string"
                        },
                        "permit_payload_sha256": {
                          "type": "string"
                        },
                        "report_digest": {
                          "type": "string"
                        },
                        "issued_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "key_id": {
                          "type": "string"
                        },
                        "receipt_payload_sha256": {
                          "type": "string"
                        },
                        "signature": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_auth_required"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_input_invalid",
                            "research_session_invalid_or_expired",
                            "research_session_state_stale",
                            "research_semantic_work_mismatch",
                            "research_worker_payload_invalid",
                            "research_dependency_unavailable"
                          ]
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Router-owned rate, concurrency, or response-size error.",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "type": "string",
                    "pattern": "^ars1_[A-Za-z0-9_-]{32}$"
                  },
                  "state_digest": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  }
                },
                "required": [
                  "session_id",
                  "state_digest"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/lessons": {
      "post": {
        "operationId": "submit_lesson_candidate",
        "summary": "Submit an anonymized AskRigor lesson candidate",
        "description": "Submit a separately consented, generalized AskRigor correction for private human review. Never send raw chat, user identity, personal case details, uploads, or credentials.",
        "x-openai-isConsequential": true,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "status",
                        "candidate_id",
                        "occurrence_count",
                        "retryable"
                      ],
                      "properties": {
                        "status": {
                          "const": "submitted"
                        },
                        "candidate_id": {
                          "type": "string",
                          "pattern": "^ARL-[0-9]{4,}$"
                        },
                        "occurrence_count": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "status",
                        "candidate_id",
                        "occurrence_count",
                        "retryable"
                      ],
                      "properties": {
                        "status": {
                          "const": "existing_candidate"
                        },
                        "candidate_id": {
                          "type": "string",
                          "pattern": "^ARL-[0-9]{4,}$"
                        },
                        "occurrence_count": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_auth_required"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "HTTP 415 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_json_content_type_required"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "retryable",
                    "reason_code"
                  ],
                  "properties": {
                    "status": {
                      "const": "privacy_rejected"
                    },
                    "retryable": {
                      "const": false
                    },
                    "reason_code": {
                      "const": "unsafe_candidate"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "retryable",
                    "retry_after_seconds",
                    "reason_code"
                  ],
                  "properties": {
                    "status": {
                      "const": "rate_limited"
                    },
                    "retryable": {
                      "const": true
                    },
                    "retry_after_seconds": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "reason_code": {
                      "type": "string",
                      "enum": [
                        "hourly_limit",
                        "daily_limit"
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "required": true,
                "description": "Seconds until the Action request may be retried.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "status",
                        "retryable",
                        "reason_code"
                      ],
                      "properties": {
                        "status": {
                          "const": "anonymizer_unavailable"
                        },
                        "retryable": {
                          "type": "boolean"
                        },
                        "reason_code": {
                          "type": "string",
                          "enum": [
                            "ai_budget_exhausted",
                            "privacy_service_unavailable"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "status",
                        "retryable",
                        "reason_code"
                      ],
                      "properties": {
                        "status": {
                          "const": "github_unavailable"
                        },
                        "retryable": {
                          "type": "boolean"
                        },
                        "reason_code": {
                          "type": "string",
                          "enum": [
                            "github_auth_unavailable",
                            "github_service_unavailable"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "category",
                  "general_lesson",
                  "expected_behavior",
                  "failure_reason",
                  "synthetic_regression_example",
                  "evidence_basis",
                  "consent_scope"
                ],
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "missing_sources",
                      "conflicting_claims",
                      "incomplete_research",
                      "evidence_weighting",
                      "community_corpus",
                      "tool_semantics",
                      "protocol_execution",
                      "privacy_or_safety",
                      "usability",
                      "other"
                    ]
                  },
                  "general_lesson": {
                    "type": "string",
                    "minLength": 40,
                    "maxLength": 600
                  },
                  "expected_behavior": {
                    "type": "string",
                    "minLength": 40,
                    "maxLength": 1200
                  },
                  "failure_reason": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 800
                  },
                  "synthetic_regression_example": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 1200
                  },
                  "evidence_basis": {
                    "type": "string",
                    "enum": [
                      "assistant_self_check",
                      "tool_receipt_conflict",
                      "source_recheck",
                      "instruction_mismatch"
                    ]
                  },
                  "askrigor_version": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "protocol_identities": {
                    "type": "array",
                    "maxItems": 4,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "version"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "version": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "sha256": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        }
                      }
                    }
                  },
                  "consent_scope": {
                    "type": "string",
                    "enum": [
                      "once",
                      "conversation"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
