{
  "openapi": "3.1.0",
  "info": {
    "title": "AskRigor Actions",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://mcp.askrigor.com"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/actions/research/get_protocol_manifest": {
      "post": {
        "operationId": "get_protocol_manifest",
        "summary": "AskRigor get protocol manifest",
        "description": "Return canonical protocol identity and SHA-256 metadata.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "protocol": {
                      "type": "string",
                      "enum": [
                        "hrp",
                        "universal"
                      ]
                    },
                    "manifest": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "revisionDate": {
                          "type": "string"
                        },
                        "sha256": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "version",
                        "revisionDate",
                        "sha256"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "http_status": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "protocol"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_input_invalid"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_concurrency_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocol": {
                    "type": "string",
                    "enum": [
                      "hrp",
                      "universal"
                    ],
                    "description": "Canonical protocol to inspect."
                  }
                },
                "required": [
                  "protocol"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/load_protocol": {
      "post": {
        "operationId": "load_protocol",
        "summary": "AskRigor load protocol",
        "description": "Load the complete, unmodified canonical protocol text. Action responses are returned as exact ordered chunks; continue until complete is true.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "protocol": {
                      "type": "string",
                      "enum": [
                        "hrp",
                        "universal"
                      ]
                    },
                    "manifest": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "revisionDate": {
                          "type": "string"
                        },
                        "sha256": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        }
                      },
                      "required": [
                        "name",
                        "version",
                        "revisionDate",
                        "sha256"
                      ],
                      "additionalProperties": false
                    },
                    "chunk_index": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "chunk_count": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "byte_start": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "byte_end_exclusive": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "total_bytes": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "chunk_sha256": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{64}$"
                    },
                    "text": {
                      "type": "string"
                    },
                    "next_cursor": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 2048
                    },
                    "complete": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "protocol",
                    "manifest",
                    "chunk_index",
                    "chunk_count",
                    "byte_start",
                    "byte_end_exclusive",
                    "total_bytes",
                    "chunk_sha256",
                    "text",
                    "complete"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "code",
                            "retryable"
                          ],
                          "properties": {
                            "code": {
                              "const": "action_input_invalid"
                            },
                            "retryable": {
                              "const": false
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "error"
                      ],
                      "properties": {
                        "error": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "code",
                            "retryable"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "protocol_action_continuation_invalid",
                                "protocol_action_continuation_expired",
                                "protocol_action_protocol_changed"
                              ]
                            },
                            "retryable": {
                              "const": false
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_concurrency_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocol": {
                    "type": "string",
                    "enum": [
                      "hrp",
                      "universal"
                    ]
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  }
                },
                "required": [
                  "protocol"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/verify_protocol_integrity": {
      "post": {
        "operationId": "verify_protocol_integrity",
        "summary": "AskRigor verify protocol integrity",
        "description": "Validate canonical protocol structure and optionally match its SHA-256.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "protocol": {
                      "type": "string",
                      "enum": [
                        "hrp",
                        "universal"
                      ]
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "manifest": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "revisionDate": {
                          "type": "string"
                        },
                        "sha256": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "version",
                        "revisionDate",
                        "sha256"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "http_status": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "protocol"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_input_invalid"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_concurrency_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocol": {
                    "type": "string",
                    "enum": [
                      "hrp",
                      "universal"
                    ],
                    "description": "Canonical protocol to verify."
                  },
                  "expected_sha256": {
                    "description": "Optional lowercase SHA-256 digest that must match exactly.",
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  }
                },
                "required": [
                  "protocol"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/search_pubmed": {
      "post": {
        "operationId": "search_pubmed",
        "summary": "AskRigor search pubmed",
        "description": "Search PubMed citations and return stable PMIDs with explicit pagination and access state; no medical conclusions are generated.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "const": "pubmed"
                    },
                    "record_type": {
                      "type": "string",
                      "const": "pubmed_search_result"
                    },
                    "retrieved_at": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string"
                        },
                        "date_range": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                            },
                            "end": {
                              "type": "string",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                            }
                          },
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "query"
                      ],
                      "additionalProperties": false
                    },
                    "source_identity": {
                      "type": "object",
                      "properties": {
                        "canonical_url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "authors_or_channel": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "page_size": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 100
                        },
                        "returned": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "exhausted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "returned"
                      ],
                      "additionalProperties": false
                    },
                    "access_status": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "api_visible_complete",
                        "partial",
                        "abstract_only",
                        "metadata_only",
                        "comments_disabled",
                        "inaccessible",
                        "rate_limited",
                        "not_found",
                        "error"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "raw_metadata": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "total_count"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "http_status": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pmid": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "pmid"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "provider",
                    "record_type",
                    "retrieved_at",
                    "query",
                    "source_identity",
                    "pagination",
                    "access_status",
                    "limitations",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_input_invalid"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_concurrency_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "PubMed search query."
                  },
                  "date_range": {
                    "description": "Inclusive publication-date range in YYYY-MM-DD format.",
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      },
                      "end": {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      }
                    },
                    "required": [
                      "start",
                      "end"
                    ],
                    "additionalProperties": false
                  },
                  "page_size": {
                    "description": "Requested records per page; allowed range is 1 through 100.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "description": "Opaque cursor returned by a previous PubMed search.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/fetch_pubmed_record": {
      "post": {
        "operationId": "fetch_pubmed_record",
        "summary": "AskRigor fetch pubmed record",
        "description": "Retrieve one PubMed citation by PMID, preserving only metadata PubMed supplies and making no full-text or medical inference.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "const": "pubmed"
                    },
                    "record_type": {
                      "type": "string",
                      "const": "pubmed_record"
                    },
                    "primary_identifier": {
                      "type": "string"
                    },
                    "retrieved_at": {
                      "type": "string"
                    },
                    "source_identity": {
                      "type": "object",
                      "properties": {
                        "canonical_url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "authors_or_channel": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "page_size": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 100
                        },
                        "returned": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "exhausted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "returned"
                      ],
                      "additionalProperties": false
                    },
                    "access_status": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "api_visible_complete",
                        "partial",
                        "abstract_only",
                        "metadata_only",
                        "comments_disabled",
                        "inaccessible",
                        "rate_limited",
                        "not_found",
                        "error"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "http_status": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "pmid": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "abstract": {
                          "type": "string"
                        },
                        "journal": {
                          "type": "string"
                        },
                        "dates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "value"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "authors": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "doi": {
                          "type": "string"
                        },
                        "publication_types": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "provider",
                    "record_type",
                    "primary_identifier",
                    "retrieved_at",
                    "source_identity",
                    "pagination",
                    "access_status",
                    "limitations",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_input_invalid"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_concurrency_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pmid": {
                    "type": "string",
                    "pattern": "^[1-9]\\d{0,15}$",
                    "description": "PubMed identifier."
                  }
                },
                "required": [
                  "pmid"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/search_europe_pmc": {
      "post": {
        "operationId": "search_europe_pmc",
        "summary": "AskRigor search europe pmc",
        "description": "Search Europe PMC records while preserving provider source identifiers and cursors with explicit pagination and access state; no medical conclusions are generated.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "const": "europe_pmc"
                    },
                    "record_type": {
                      "type": "string",
                      "const": "europe_pmc_search_result"
                    },
                    "retrieved_at": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string"
                        },
                        "date_range": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                            },
                            "end": {
                              "type": "string",
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                            }
                          },
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "query"
                      ],
                      "additionalProperties": false
                    },
                    "source_identity": {
                      "type": "object",
                      "properties": {
                        "canonical_url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "authors_or_channel": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "page_size": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 100
                        },
                        "returned": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "exhausted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "returned"
                      ],
                      "additionalProperties": false
                    },
                    "access_status": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "api_visible_complete",
                        "partial",
                        "abstract_only",
                        "metadata_only",
                        "comments_disabled",
                        "inaccessible",
                        "rate_limited",
                        "not_found",
                        "error"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "raw_metadata": {
                      "type": "object",
                      "properties": {
                        "hit_count": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "hit_count"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "http_status": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "pmid": {
                            "type": "string"
                          },
                          "pmcid": {
                            "type": "string"
                          },
                          "doi": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "journal": {
                            "type": "string"
                          },
                          "year": {
                            "type": "string"
                          },
                          "cited_by": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "is_open_access": {
                            "type": "boolean"
                          },
                          "has_full_text": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "source",
                          "id"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "provider",
                    "record_type",
                    "retrieved_at",
                    "query",
                    "source_identity",
                    "pagination",
                    "access_status",
                    "limitations",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_input_invalid"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_concurrency_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "Europe PMC search query."
                  },
                  "date_range": {
                    "description": "Inclusive publication-date range in YYYY-MM-DD format.",
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      },
                      "end": {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      }
                    },
                    "required": [
                      "start",
                      "end"
                    ],
                    "additionalProperties": false
                  },
                  "page_size": {
                    "description": "Requested records per page; allowed range is 1 through 100.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "description": "Opaque Europe PMC cursor returned by a previous search.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/actions/research/search_clinical_trials": {
      "post": {
        "operationId": "search_clinical_trials",
        "summary": "AskRigor search clinical trials",
        "description": "Search ClinicalTrials.gov studies with provider pagination and explicit access state; no medical conclusions are generated.",
        "x-openai-isConsequential": false,
        "responses": {
          "200": {
            "description": "HTTP 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "const": "clinicaltrials_gov"
                    },
                    "record_type": {
                      "type": "string",
                      "const": "clinical_trial_search_result"
                    },
                    "retrieved_at": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "query"
                      ],
                      "additionalProperties": false
                    },
                    "source_identity": {
                      "type": "object",
                      "properties": {
                        "canonical_url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "authors_or_channel": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "page_size": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 100
                        },
                        "returned": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "exhausted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "returned"
                      ],
                      "additionalProperties": false
                    },
                    "access_status": {
                      "type": "string",
                      "enum": [
                        "complete",
                        "api_visible_complete",
                        "partial",
                        "abstract_only",
                        "metadata_only",
                        "comments_disabled",
                        "inaccessible",
                        "rate_limited",
                        "not_found",
                        "error"
                      ]
                    },
                    "limitations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "raw_metadata": {
                      "type": "object",
                      "properties": {
                        "data_timestamp": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "data_timestamp"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "http_status": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "retryable": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nct_id": {
                            "type": "string",
                            "pattern": "^NCT\\d{8}$"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "study_type": {
                            "type": "string"
                          },
                          "phases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "conditions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "interventions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sponsors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "enrollment": {
                            "type": "object",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "completion_date": {
                            "type": "string"
                          },
                          "has_results": {
                            "type": "boolean"
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "pmid": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "citation": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "last_update": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "nct_id"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "provider",
                    "record_type",
                    "retrieved_at",
                    "query",
                    "source_identity",
                    "pagination",
                    "access_status",
                    "limitations",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "action_invalid_json",
                            "action_request_read_failed"
                          ]
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_body_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_input_invalid"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_rate_limit_exceeded"
                        },
                        "retryable": {
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_internal_error"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "retryable"
                      ],
                      "properties": {
                        "code": {
                          "const": "action_response_too_large"
                        },
                        "retryable": {
                          "const": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
[...]
